/* Mobile */

@media (max-width:520px){
    .search {
        display: none;
    }
    
    .home_header {
        flex-wrap: wrap;
    }
    
    table thead tr th {
        font-size: 0.5em;
    }

    #searchField {
        width: 100%;
    }
    
    table td {
        font-size: 0.35em;
    }
    
    .text-muted {
        font-size: 0.3em !important;
    }
    
    .cirDot {
        width: 5px;
        height: 5px;
    }
}